$primary-color: #9E9E9E;
$secondary-color: #FFF;
$dark-primary: darken($primary-color, 10%);
$light-primary: lighten($primary-color, 10%);
$primary-font: 'Open Sans', sans-serif;

// color array [#FF1744, #3D5AFE, #009688, #0097A7, #43A047, #FF6E40, #546E7A, #8D6E63, #EF6C00, #00B8D4, #1DE9B6, #5C6BC0, #E040FB]

body {
	background-color: $primary-color;
	font-family: $primary-font;
}
	
.info {
	background-color: $secondary-color;
	color: $primary-color;
	display: inline-block;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);     
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 10% auto auto auto;
	width: 450px;
	padding: 40px 50px;
	display: table;

}

button {
	color: $secondary-color;
	background-color: $primary-color;
	padding-top: 5%;
}


.fa-twitter-square:hover, 
.fa-facebook-square:hover,
button:hover {
	cursor: pointer;
}


.btn-sm {
//	font-size: .5rem;
	padding: .5rem;
}
	
.btnCol {
	padding-top: 2.5%;
	text-align: right;
}

.quote-text {
	font-size: 30px;
}
  	
.social-icons {
	font-size: 37px;
}

.footer {
	margin: 2% auto;
}

.created-by {
	color: $secondary-color;
	font-size: 12px;
}

.author {
	font-weight: bold;
	font-family: $primary-font;
}